* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#header {
    height: 40px;
    line-height: 40px;
    background-color: orange;
    color: #fff;
    text-align: center;
}
